footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 16px;
    opacity: 0.8;
}

footer h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

footer nav {
    margin-top: 20px;
}

footer nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

footer nav ul li {
    display: inline-block;
    /* or display: inline; */
    margin-right: 10px;
}

footer nav ul li a {
    text-decoration: none;
    font-weight: bold;
}